@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

:root {
  /*primary colors*/
  --color-black: #000000;
  --color-dark-gray: #444444;
  --color-gray: #dcdcdc;
  --color-light-gray: #ebebeb;
  --color-light: #f0f0f0;
  --color-white: #ffffff;

  /*additional colors*/
  --color-yellow: #ffe17f;
  --color-yellow-hover: #ffc700;
  --color-purple: #af4fff;

  /*status colors*/
  --color-error: #ff3d3d;
  --color-warning: #fd912e;
  --color-success: #08af00;

  /*button color*/
  --color-btn-gray: #e5e5e5;
}

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: var(--color-dark-gray);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.button {
  font-size: 18px;
  line-height: normal;
  font-family: "Raleway", sans-serif;
  color: var(--color-black);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.6px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;

}

/* Header */
.header-container {
  width: 1160px;
  padding: 21px 60px 0 60px;
  margin: 0 auto;
  background-image: linear-gradient(var(--color-white) 40px, var(--color-yellow) 0);
}

.header-container {
  display: block;
}

.header-logo {
  margin-bottom: 29px;
  display: block;
}

.logo-wrap {
  width: 145px;
  transition: opacity .3s ease-in-out;
}

.logo-wrap:hover {
  opacity: .6;
}

.logo-wrap:active {
  opacity: .3;
}

.logo-wrap:focus{
  display: block;
  outline: 2px solid var(--color-purple);
  outline-width: 2px;
}

.wrap-user-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.user-form {
  position: relative;
  width: 517px;
  height: 40px;
  display: flex;
}

.user-input {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 20px;
  width: 359px;
  height: 40px;
  padding: 10px 0 10px 48px;
  border-radius: 50px 0 0 50px;
  border: 2px solid var(--color-black );
  background: rgba(255, 255, 255, 0.00);
  outline: none;
}

.user-input-wrapper:focus-within {
  outline: 2px solid var(--color-purple);
  outline-offset: 2px;
}

.user-form::before {
  position: absolute;
  display: block;
  top: 12px;
  left: 16px;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../images/header/icons/search.svg");
  background-repeat: no-repeat;
}

.user-input::placeholder {
  color: var(--color-black);
  opacity: 0.3;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.user-menu-buttom {
  position: relative;
  width: 158px;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 20px;
  padding: 8px 54px;
  border-radius: 0 50px 50px 0;
  border: 2px solid var(--color-black);
  background: transparent;
  border-left: 0;
  transition: background-color 0.2s ease-in-out;
}

.user-menu-buttom::before {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  display: none;
  background-color: transparent;
  border: 2px solid var(--color-purple);
}

.user-menu-buttom:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.user-menu-buttom:focus {
  outline: none;
}

.user-menu-buttom:focus-within::before {
  display: block;
}

.main-navigation {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation-user {
  width: 231px;
}

.user-button {
  text-decoration: none;
  color: var(--color-black);
  background-image: url("../images/header/icons/user.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 26px;
  transition: opacity .3s ease-in-out;
}

.user-button:hover {
  opacity: .6;
}

.user-button:focus {
  outline: 2px solid var(--color-purple);
  outline-offset: 2px;
}

.exit-button {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  background-repeat: no-repeat;
  background-position: left;
  margin-left: 26px;
  opacity: 0.3;
}

.exit-button:hover {
  opacity: 0.6;
}

.exit-button:focus {
  outline: 2px  solid var(--color-purple);
  outline-offset: 2px;
}

.exit-button:active {
  opacity: .3;
}


.user-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.shop-user-control-item:not(:last-child) {
  margin-right: 16px;
  }

.shop-user-control-item {
  list-style: none;
  position: relative;
  transition: opacity .2s ease-in-out;
}

.shop-user-control-item.open >
.shop-cart-wrap {
  display: flex;
}

.compare,
.cart {
  display: inline-block;
  min-height: 30px;
  color: var(--color-black);
  text-decoration: none;
}

.compare:hover,
.cart:hover {
  opacity: .6;
}

.compare:focus,
.cart:focus {
  outline: 2px  solid var(--color-purple);
  outline-offset: 2px;
}

.compare:active,
.cart:active {
  opacity: 0.3;
}

.compare::before {
  content: url("../images/header/icons/comparison.svg");

  display: inline-block;
  width: 10px;
  height: 12px;
  margin-right: 12px;

  line-height: 12px;
}

.cart {
  padding-left: 16px;
}

.cart::before {
  content: url("../images/header/icons/basket.svg");
  display: inline-block;
  width: 16px;
  height: 14px;
  margin-right: 12px;
  line-height: 14px;
}

.count {
  position: absolute;
  top: 4.5px;
  right: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 21px;
  min-height: 21px;
  padding: 0 5px;
  font-size: 14px;
  line-height: 14px;
  background-color: var(--color-white);
  border-radius: 1000px;
}

.cart:hover ~ .popover,
.cart:focus ~ .popover,
.popover:hover,
.popover:focus {
  display: block;
}

.shop-cart-wrap {
  display: none;
  top: 37px;
  right: -77px;
  position: absolute;
  background-color: var(--color-black);
  z-index: 5;
  flex-direction: column;
  align-items: center;
}

.shop-cart-wrap::before {
  content: "";
  display: block;
  width: 16px;
  height: 6px;
  position: absolute;
  border: 11px solid transparent;
  border-bottom: 8px solid var(--color-black);
  top: -17px;
  right: 47%;
}

.shop-cart-list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.shop-cart-item {
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 20px;
  list-style: none;
}

.shop-cart-item-wrap {
  display: flex;
  max-width: 213px;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}



.shop-cart-item-wrap:hover {
  opacity: .6;
}

.shop-cart-item-wrap:focus-within {
  outline: 2px solid var(--color-purple);
  outline-width: 2px;
}

.shop-cart-title {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  line-height: 20px;
  color: var(--color-white);
  margin-left: 23px;
  margin-right: 87px;
}

.close-button {
  align-self: flex-start;
  width: 10px;
  position: relative;
  height: 10px;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}


.close-button::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
}

.close-button::before,
.close-button::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out;
  background-color: var(--color-white);
}

.close-button::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-button::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close-button:hover::before,
.close-button:hover::after {
  opacity: .6;
}

.close-button:focus {
  outline: 2px solid var(--color-purple);
}

.close-button:active::before,
.close-button:active::after {
  opacity: .3;
}

.shop-cart-button {
  width: 280px;
  height: 50px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  border: none;
  transition: background-color .2s ease-in-out,
  opacity .2s ease-in-out;
}

.shop-cart-button:hover {
  background-color: var(--color-yellow);
}

.shop-cart-button:focus {

  outline: 2px solid var(--color-purple);
  outline-width: 2px;
}

.shop-cart-button span {
  transition:opacity .2s ease-in-out;
}

.shop-cart-button span:active {
  opacity: .3;
}

.shop-cart-description-wrap {
  display: flex;
  justify-content: space-between;
  background-color: #1A1A1A;
  padding-left: 20px;
  padding-right: 20px;
  gap: 10px;
  width: 320px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.shop-cart-description {
  display: flex;
  align-items: center;
  color: var(--color-white);
}

.shop-cart-product {
  height: 44px;
}

.shop-cart-price {
  height: 44px;
}

/* -----Dropdown----- */
.catalog-navigation {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 4;
}



.catalog-navigation-menu {
  margin: 0;
  padding: 0;
}

.catalog-navigation-list {
  list-style: none;
  position: relative;
  display: block;
}

.catalog-navigation-link:hover .catalog-navigation-button {
  opacity: 1;
}

.catalog-navigation-list:active .catalog-navigation-button::after  {
  opacity: 1;
}

.catalog-navigation-link:focus-within {

  outline: 2px solid var(--color-purple);
}

.catalog-navigation-link {
  display: flex;
  font-family: "Raleway";
  color: rgba(0, 0, 0, 1);
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  align-items: center;
}

.catalog-navigation-button {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 1);
  position: relative;
  background-color: transparent;
  opacity: 0.3;
  margin-left: 16px;
}

.catalog-navigation-button::before,
.catalog-navigation-button::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 1);
}

.catalog-navigation-button::after {
  transform: translate(-50%, -50%) rotate(90deg);
}


.catalog-navigation-button.active::after
  {
 display: none;
}

.dropdown-list {
  display: none;
  position: absolute;
  left: -60px;
  z-index: 3;
  top: 53px;
  padding: 12px 60px 56px 60px;
  width: 1160px;
  background-color: var(--color-yellow);

}

.dropdown-colomn {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 59px;
}
.submenu {
  min-width: 153px;
  padding: 0;
}

.submenu-item {
  list-style: none;
  font-size: 16px;
  line-height: 18px;
}

.submenu-item + .submenu-item {
  margin-top: 18px;
}
.submenu-active {
  position: relative;
}

.submenu-active::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-black);
}

.submenu-link {
  min-height: 23px;
  display: block;
  width: fit-content;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.submenu-link:hover{
 opacity: 0.6;
}

.submenu-link:active{
  opacity: 0.3;
 }

 .submenu-link:focus{
  outline: 2px solid var(--color-purple);
  outline-width: 2px;
 }

.checked {
  display: block;
}

/* -----Dropdown----- */
.header-service-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.header-service-item {
  list-style: none;
}

.header-service-item a:hover {
  opacity: 0.3;
}

.header-service-item a:focus {
  outline: 2px solid var(--color-purple);
  outline-width: 2px;
}

.header-service-item + .header-service-item {
  margin-left: 45px;
}

.header-service-item a {
  font-family: "Raleway";
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

/* Header */

/* Main */

/* --------Sider------- */
.slider {
  margin-bottom: 70px;
}

.slider-big-subtitle {
  position: relative;
  z-index: 1;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  font-family: "Raleway";
  color: rgba(0, 0, 0, 1);
  margin-bottom: 29px;
}

.slider-subtitle {
  margin: 0;
  margin-bottom: 50px;
}

.descriprion-element {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 12px;
}

.descriprion-subtitle {
  font-size: 16px;
  line-height: 30px;
  color: rgba(68, 68, 68, 1);
}

/* -------Pagination------- */
.slider-pagination {
  display: flex;
  position: absolute;
  justify-content: center;
  margin: 0;
  padding: 0;
  bottom: 0;
  width: 100%;
  gap: 20px;
  list-style-type: none;
}
.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button:focus {
  opacity: 0.1;
}

.slider-pagination-button-current {
  background-color: rgba(0, 0, 0, 1);
}

.slider-pagination-button-current:focus {
  opacity: 0;
}
/* -------Pagination------- */


/* --------Sider------- */
.slider-data {
  padding-top: 105px;
}
.slider-namber {
  position: absolute;
  z-index: 1;
  right: 49px;
  top: 66px;
  font-family: "Rubik";
  font-size: 180px;
  font-weight: 700;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
}

.slider-wrap {
  display: none;
  gap: 40px;
  position: relative;
  background-image: linear-gradient(var(--color-yellow) 134px, transparent 134px);
}

.slider-wrap.active {
  display: flex;
}

.slider-data-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 40px;
  margin-bottom: 50px;
  text-align: center;
  background-color: transparent;
  border: none;
}

.slider-data-button::after {
  content: "";
  position: absolute;
  top: 50%;
  z-index: -1;
  width: 100%;
  transform: translateY(-50%);
  height: 8px;
  background-color: var(--color-yellow);
  transition: height 0.2s ease-in-out, background-color 0.2s ease-in-out;

}

.slider-data-button:hover::after {
  height: 100%;
  background-color: var(--color-yellow);
}


.slider-data-button:active::after {
  background-color: var(--color-yellow-hover);
}

.slider-data-button:focus{
  outline: 2px solid var(--color-purple);
}

/* --------Sider------- */



/* --------Sider-control------- */

.slider-left-column {
  position: relative;
}

.image-slider-wrap {
  margin-top: -16px;
  width: 560px;
  height: 560px;
}

.slider-controls {
  bottom: 53%;
  margin-left: 30px;
  position: absolute;
  width: 530px;
  display: flex;
  justify-content: space-between;
}

.slider-button {
  padding: 0;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-button:focus {
  outline: 2px solid var(--color-purple);
  outline-width: 2px;
}

.slider-prev {
  width: 20px;
  height: 60px;
  background-image: url("../images/main/slider/arrow-left.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;

}

.slider-next {
  width: 20px;
  height: 60px;
  background-image: url("../images/main/slider/arrow-right.svg");
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

/* --------Sider-control------- */
.descriprion-wrap{
  display: flex;
}

.descriprion-wrap p {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 20px;
}

.descriprion-wrap p:last-child {
  margin-right: 0;
}

.category {
  margin-bottom: 57px;
}

.category-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 40px;
  list-style: none;
}

.category-item {
  display: flex;
  flex-direction: column;
  width: 160px;
  min-height: 253px;
  transition: opacity 0.3s ease-in-out,
  background-color .3s ease-in-out;
}

.category-item:focus-within {
  outline: 2px solid var(--color-purple);
  outline-width: 2px;
}

.category-card-link {
  text-decoration: none;
}

.category-card-title {
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  margin: 0;
  margin-top: 32px;
  letter-spacing: -0.36px;
  color: rgba(0, 0, 0, 1);
  transition: opacity 0.3s ease-in-out;
}

.monopod-position {
  position: relative;
  top: 22px;
}

.category-card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  background-color: var(--color-yellow);
  transition: background-color .3s ease-in-out;
}

 .category-card-link:hover > .category-card-image  {
  background-color: var(--color-yellow-hover);
}





.category-card-link:active > .category-card-image{
  background-color: var(--color-yellow);
  opacity: 0.5;
}
.category-card-link:active > .category-card-title {
  opacity: 0.5;
}

.service-offers-wrap  {
  display: flex;
  padding-bottom: 59px;
  align-items: center;
}

.service-offers {
  background-image: linear-gradient(transparent 115px,rgba(240, 240, 240, 1) 115px);
  margin-bottom: 70px;
}

.service-offers-list {
  width: 287px;
  margin: 13px 0;
  padding: 0;
  list-style: none;
  border-right: 7px solid var(--color-black);
  padding-top: 64px;
  padding-bottom: 65px;
}

.service-active {
  background-color: var(--color-black);
}

.service-active > .service-offers-button {
  color: var(--color-yellow);
}
.service-active > .service-offers-button::before  {
 content: none;
}
.service-offers-item {
  width: 280px;
}

.service-offers-item + .service-offers-item  {
  margin-top: 35px;
}

.service-offers-button {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  padding: 0 10px;
  text-align: center;
  background-color: transparent;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.service-offers-button:hover::before {
  height: 100%;
}
.service-offers-button:active::before {

  background-color: var(--color-yellow-hover);
}
.service-offers-button:focus {
  outline: 2px solid var(--color-purple);
}

.service-offers-button::before {
  content: "";
  position: absolute;
  top: 50%;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: var(--color-yellow);
  transform: translateY(-50%);
  transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.service-active:hover .service-offers-button  {
  transform: translateX(26.5px);
}

.service-offers-item.service-active:focus-within {
  outline: 2px  solid var(--color-purple);
  outline-offset: 2px;
}

.service-offers-item.service-active .service-offers-button:focus {
  outline: none;
  transform: translateX(26.5px);
}

.service-offers-item.service-offers-button:focus-within {
  outline: 2px  solid var(--color-purple);
  outline-offset: 2px;
}

.service-offers-data {
  padding: 0;
  margin: 0;
  width: 810px;
  min-height: 319px;
  padding-left: 116px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.offers-data-item.active {
  display: block;
}

.offers-data-item{
 list-style: none;
 display: none;
}

.offers-data-item:nth-child(1) {
  background-image: url("../images/main/service/delivery.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.offers-data-item:nth-child(2) {
  background-image: url("../images/main/service/warranty.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.offers-data-item:nth-child(3) {
  background-image: url("../images/main/service/credit.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.service-offers-title {
  margin: 0;
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  margin-bottom: 34px;
  color: var(--color-black);
}
.service-offers-subtitle {
  margin: 0;
  width: 480px;
}

/*-------- Delivery-section------- */
.delivery {
  margin-bottom: 70px;
}

.delivery-button {
  text-decoration: none;
}
.delivery-button-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light);
  transition: opacity.3s ease-in-out;
  padding: 0;
  margin: 0;
  border: none;
}
.delivery-button-wrap:focus{
  outline: 2px solid var(--color-purple);
  outline-offset: 2px;
}



.delivery-button-wrap:active {
 opacity: 0.3;
}

.delivery-button-wrap:hover .delivery-button-car {
  background-color: var(--color-yellow-hover);
}

.delivery-button-wrap:hover .delivery-button-attention {
  background-image: url("../images/main/order.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.delivery-button-car {
  display: block;
  width: 125px;
  height: 100px;
  background-image: url("../images/main/car.svg");
  background-color:var(--color-yellow);
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.3s ease-in-out;
}

.delivery-button-description {
  margin: 0;
  text-align: center;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--color-black);
}

.delivery-button-attention {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 125px;
  height: 100px;
}

.delivery-button-attention::after {
  position: absolute;
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("../images/main/at.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  background-color: rgba(220, 220, 220, 0.50);
}
/*-------- Delivery-section------- */

/* ------------ About ------------ */
.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}


.about-wrap {
  width: 466px;
}

.about-contact-wrap {
  width: 532px;
}

.about-title {
  margin: 0;
  font-family: "Raleway";
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: var(--color-black);
  margin-bottom: 48px;
}

.about-title::before {
  display: block;
  content: "";
  width: 84px;
  height: 7px;
  background-color: var(--color-black);
  margin-bottom: 40px;
}
.about-paragraph {
  margin: 0;
  margin-bottom: 30px;
}

.about-subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
}

.tike {
 width: 498px;
}
.about-list {
  margin: 0;
  padding: 0;
}

.about-item {
  padding-left: 37px;
  list-style: none;
  position: relative;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: rgba(0, 0, 0, 1);
}

.about-item + .about-item  {
  margin-top: 19px;
}

.about-item::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 3px;
  width: 8px;
  height: 8px;
  background-color: var(--color-yellow-hover);
  border-radius: 50%;
}

.address-paragraph {
  display: block;
  font-style: normal;
  margin: 0;
}

.address-tel {
  margin: 0;
  font-style: normal;
  margin-bottom: 30px;
}

.address-tel a {
  color: rgba(68, 68, 68, 1);
}

.about-week {
  margin: 0;
}

.about-button {
  display: inline-flex;
  width: 270px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent;
  border: none;
  z-index: 1;
  margin-top: 30px;
}

.call {
  width: 259px;
}

.about-button::before {
  content: "";
  width: 100%;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-yellow);
  position: absolute;
  z-index: -1;
  transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.about-button:hover::before {
  height: 100%;
}

.about-button:active::before {
  background-color: var(--color-yellow-hover);
}

.about-button:focus {
  outline: 2px solid var(--color-purple);
}
/* ------------ About ------------ */

/* ------------ Subscribe ------------ */
.subscribe {
  display: flex;
  background-color: rgba(240, 240, 240, 1);
}
.field--invalid {

  border-color: var(--color-error);
}

.field {
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 557px;
  height: 57px;
  border: none;
  outline: none;
  padding: 11px 10px 14px 17px;
  background-color: rgba(240, 240, 240, 1);
  border-bottom: 3px solid rgba(196, 196, 196, 1);
  transition: background-color 0.3s ease-in-out;
}

.field:focus {
  background-color: var(--color-gray);
  outline: none;
}

.field::placeholder {
  opacity: 0.5;
}

.catalog-input::placeholder {
  opacity: 1;
}

.subscribe-button {
  padding: 15px 35px;
  background-color: var(--color-light);
  border: 3px solid rgba(196, 196, 196, 1);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.subscribe-button:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  border-color: var(--color-black);
}


.subscribe-button:active {
  background-color: var(--color-black);
  color: rgba(255, 255, 255, 0.3);
  border-color: var(--color-black);
}


.subscribe-button:focus {
  outline: 2px solid var(--color-purple);
  outline-width: 2px;
}

.subscribe-button:disabled {
  color: var(--color-black);
  background-color: transparent;
  border-color: #c4c4c4;
  outline: none;
  opacity: 0.3;
}

.subscribe-wrap {
  padding: 64px 0 56px 0;
}

.subscribe-content-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 144px;
}
.subscribe-title {
  width: 348px;
  margin: 0;
  font-family: "Raleway";
  font-size: 50px;
  margin-left: 7px;
  margin-right: 252px;
  font-weight: 800;
  line-height: 50px;
  color: rgba(0, 0, 0, 1);
}

.subscribe-subtitle {
  width: 560px;
  margin: 0;
  margin-top: 10px;
}

.form-wrap {
  display: flex;
  justify-content: space-between;
}

.subscribe-free {
  align-self: center;
}

.subscribe-free::before {
  content: "";
  position: relative;
  top: 1px;
  right: 17px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../images/main/tick.svg");
}

/* ------------ Subscribe ------------ */

/* Catalog */
.breadcrumbs-wrap {
  padding: 55px 21px 30px 60px;
  background: linear-gradient(var(--color-yellow) 20px, transparent 20px);
}

.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 7px;
}

.breadcrumbs-title {
  margin: 0;
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  margin-bottom: 10px;
  color: var(--color-black);
}

.breadcrumbs-item {
  padding-right: 20px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  color: var(--color-black);
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

.breadcrumbs-link[href]:hover {
  opacity: 0.6;
}

.breadcrumbs-link[href]:active {
  opacity: 0.6;
}

.breadcrumbs-link[href]:focus {
  outline: 2px solid var(--color-purple);
  outline-width: 2px;
}

.current-link{
  text-decoration: none;
}

.arrow{
  position: relative;
}

.arrow::after {
  position: relative;
  left: 10px;
  bottom: 2px;
  content: "";
  border: solid var(--color-black);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(-45deg);
}

.breadcrumbs-item:last-child{
  padding-right: 0;
}

.catalog-right-column {
  min-width: 840px;
}

.catalog-product-wrap {
  padding-left: 60px;
  display: flex;
}

/*-------- Filtration------- */
.catalog-filter {
  width: 200px;
  margin-right: 60px;
  padding-top: 25px;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filter-title {
  padding: 0;
  color: var(--color-black);
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  margin-bottom: 58px;
}

.catalog-filter-subtitle {
  padding: 0;
  color: var(--basic-black,);
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  margin-bottom: 20px;
}

.catalog-filter-subtitle::before {
  content: "";
  background-color: var(--color-black);
  display: block;
  width: 200px;
  height: 2px;
  margin-bottom: 12px;
}



.range {
  margin-bottom: 34px;
}
.range-scale {
  position: relative;
  height: 2px;
  top: 7px;
  margin-bottom: 17px;
  background-color: var(--color-btn-gray);
  left: 1px;
  width: 200px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: var(--color-black);
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--color-light-gray);
  border: 2px solid var(--color-black);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.range-toggle::before {
  display: block;
  content: "";
  width: 20px;
  position: absolute;
  left: -3px;
  top: -3px;
  height: 20px;

}

.range-toggle:focus-within:before   {
  outline: 2px solid var(--color-purple);
}

.range-toggle:hover {
  border-color: rgba(0, 0, 0, .5);
}

.range-toggle:active {
  background: var(--color-black);
}

.toggle-min {
  top: -8px;
  left: -11px;
}

.toggle-max {
  top: -7px;
  right: -8px;
}

.range-wrapper-inputs {
  display: flex;
  width: 161px;
  position: relative;
  right: 13px;
  justify-content: space-between;
}

.catalog-filter-label {
  position: relative;
  color: var(--basic-black);
  font-size: 14px;
  display: flex;
  line-height: 20px;
}

.label-from {
  width: 34px;
  height: 22px;
}

.catalog-filter-label span {
  opacity: 0.3;
}

.range-input {
  border: none;
  background-color: transparent;
  width: 55px;
  font-family: "Rubik";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--basic-black);
  opacity: 0.3;
  outline: none;
}

.catalog-filter-label:focus-within {
  outline: 2px solid var(--color-purple);
  outline-offset: 2px;

}

.range-input[type="number"] {
  text-align: left;
  appearance: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance:  none;
  margin: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.catalog-filter-item {
  list-style: none;
  height: 20px;
}

.control {
  position: relative;
  display: flex;
}

.control-label {
  transition: opacity 0.3s ease-in-out;
  color: var(--basic-black);
  font-size: 16px;
  line-height: 20px;
  display: inline-flex;
}

.catalog-filter-item + .catalog-filter-item {
  margin-top: 17px;
}

.control-label::before {
  content: "";
  display: inline-flex;
  width: 20px;
  margin-right: 16px;
  height: 20px;
  background-image: url("../images/main/checkbox/checkbox-off.svg");
  transition: opacity 0.3s ease-in-out;
}

.control-input:not(:checked) + .control-label:hover::before,
.control-input:not(:checked) + .control-label:hover
 {
  opacity: 0.6;
}

.control-input:not(:checked) + .control-label:active::before,
.control-input:not(:checked) + .control-label:active
 {
  opacity: 0.3;
}

.control-input:not(:checked) + .control-label:disabled::before,
.control-input:not(:checked) + .control-label:disabled
 {
  opacity: 0.1;
}

.control-input:checked + .control-label::before {
  background-image: url("../images/main/checkbox/tick.svg");
}

.control-input:focus + .control-label::before {
  outline-offset: 2px;
  outline-style: outset;
  outline: 2px solid var(--color-purple);
}

.control-radio {
  transition: opacity 0.3s ease-in-out;
  color: var(--basic-black);
  font-size: 16px;
  line-height: 20px;
  display: inline-flex;
}

.control-radio::before {
  content: "";
  display: inline-flex;
  width: 20px;
  margin-right: 16px;
  height: 20px;
  transition: opacity 0.3s ease-in-out;
  background-image: url("../images/main/checkbox/radio-off.svg");
}

.control-input:checked + .control-radio::before {
  background-image: url("../images/main/checkbox/radio-on.svg");
}


.control-input:not(:checked) + .control-radio:hover::before,
.control-input:not(:checked) + .control-radio:hover
 {
  opacity: 0.6;
}

.control-input:not(:checked) + .control-radio:active::before,
.control-input:not(:checked) + .control-radio:active
 {
  opacity: 0.3;
}


.control-input:not(:checked) + .control-radio:disabled::before,
.control-input:not(:checked) + .control-radio:disabled
 {
  opacity: 0.1;
}

.control-input:focus + .control-radio::before {
  outline-offset: 2px;
  outline-style: outset;
  outline: 2px solid var(--color-purple);
}

.catalog-filter-button {
  border: none;
}

.catalog-filter-button {
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  min-height: 40px;
  text-align: center;
  background-color: transparent;
  border: none;
}
.catalog-filter-button::after {
  content: "";
  position: absolute;
  top: 50%;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: var(--color-yellow);
  transform: translateY(-50%);
  transition: height 0.3s ease-in-out;
}

.catalog-filter-button:hover::after {
  height: 100%;
  background-color: var(--color-yellow);
}


.catalog-filter-button:active::after {
  background-color: var(--color-yellow-hover);
}

.catalog-filter-button:focus{

  outline: 2px solid var(--color-purple);
}
/*-------- Filtration------- */

.catalog-products {
  display: flex;
  background-color: var(--color-light);
}

.catalog-right-column {

  background-color: rgba(255, 255, 255, 1);
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light);
  padding: 20px 40px 20px 40px;
}

.sorting-title {
  margin: 0;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.select-control {
  width: 141px;
  appearance: none;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  background-color: transparent;
  border: none;
  background-image: url("../images/main/arrow.svg");
  background-repeat: no-repeat;
  background-position: right;
  transition: opacity .3s ease-in-out;
}

.select-control:hover {
  opacity: 0.6;
}
.select-control:focus {
  outline: 2px solid var(--color-purple);
  outline-offset: 2px;
}

.toggle-wrap {
  width: 60px;
  height: 30px;
  gap: 4px;
  display: flex;
}

.card-toggle {
  width: 30px;
  height: 30px;
  display: flex;
  border: none;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: transparent;

}

.max-toggle:hover::after,
.min-toggle:hover::after  {
  border-bottom-color: rgba(0, 0, 0, 0.5);
  border-top-color: rgba(0, 0, 0, 0.5);
}

.max-toggle:active::after,
.min-toggle:active::after  {
  border-bottom-color: rgba(0, 0, 0, 1);
  border-top-color: rgba(0, 0, 0, 1);
}

.max-toggle:focus,
.min-toggle:focus  {
  outline: 2px solid var(--color-purple);
  outline-offset: 2px;
}

.max-toggle::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 6px;
  border-left-width: 6px;
  border-bottom: 10px solid rgba(0, 0, 0, 0.2);
  transition: all .3s ease-in-out;
}

.min-toggle::after {
  content: "";
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 6px;
  border-left-width: 6px;
  border-top: 10px solid rgba(0, 0, 0, 0.2);
  transition: all .3s ease-in-out;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 0;
  padding: 70px 40px 43px;
  gap: 44px 40px;
}

.product-card {
  list-style: none;
}

.product-card-link {
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
}

.new-product {
  position: relative;
}

.new-product::after {
  content: "NEW";
  position: absolute;
  top: 27px;
  right: 27px;
  z-index: 1;
  display: flex;
  padding: 19px 10px 20px 9px;
  width: 60px;
  height: 60px;
  font-size: 14px;
  line-height: normal;
  font-family: "Raleway", "Arial", sans-serif;
  color: var(--color-black);
  text-transform: uppercase;
  letter-spacing: 2.8px;
  border: 2px solid var(--color-black);
  border-radius: 50%;
  opacity: 0.6;
}

.img-wrap {
  width: 360px;
  height: 380px;
  margin: 0;
  margin-bottom: 32px;
}

.product-data {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.product-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  margin: 0;
  color: rgba(0, 0, 0, 1);
}

.product-price {
  color: var(--color-dark-gray);
  line-height: initial;
}

.about-product {
  position: absolute;
  z-index: 2;
  top: 170px;
  left: 50%;
  display: inline-flex;
  justify-content: center;
  transform: translateX(-50%);
  align-items: center;
  min-width: 220px;
  min-height: 40px;
  text-align: center;
  background-color: transparent;
  border: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.img-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 360px;
  height: 380px;
  background-color: var(--color-light);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}


.product-card-link:hover .about-product
{
  opacity: 1;
}

.product-card-link:hover .product-data
 {
  opacity: 0.6;
}

.product-card-link:hover .img-wrap::before {
  opacity: 0.8;
}

.product-card-link:active .product-data
 {
  opacity: 0.3;
}

.product-card-link:active .img-wrap::before {
  opacity: 0.8;
}

.product-card-link:hover .about-product::after {
  height: 100%;
}

.product-card-link:active .about-product::after {
  background-color: var(--color-yellow-hover);
}

.product-card-link:focus {
  outline: 2px  solid var(--color-purple);
  outline-offset: 2px;
}

.about-product::after {
  content: "";
  position: absolute;
  top: 50%;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: var(--color-yellow);
  transform: translateY(-50%);
  transition: height 0.2s ease-in-out;
}

.about-product:focus {
  outline: 2px  solid var(--color-purple);
  outline-offset: 2px;
}

.pagination-wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 40px 78px 40px;
  background-color: var(--color-light-gray);
  align-items: center;
}

.pagination-button {
  padding: 25px;
  border: none;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--color-black);
  background-color: transparent;
  transition: background-color .3s ease-in-out;
}

.pagination-button:hover {
  background-color: var(--color-gray);
}

.pagination-button:active {
  background-color: var(--color-gray);
  color: rgba(0, 0, 0,  0.3);
}
.pagination-button:focus {
  outline: 2px solid var(--color-purple);
  outline-offset: 2px;
}

.pagination-button:disabled {
  background: var(--color-light-gray);
  color: rgba(68, 68, 68, 0.3);
}

.button-current {
  outline: none;

}

.button-current:hover {
  background-color: transparent;
}
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.pagination-item {
  list-style: none;
}
.pagination-link {
  display: inline-flex;
  font-size: 16px;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  padding: 13px;
  text-decoration: none;
  color: var(--color-dark-gray);
  opacity: 0.3;
  transition: opacity .3s ease-in-out;
}

.pagination-link:hover  {
  opacity: 1;
}

.pagination-link:active {
  opacity: 0.1;
}

.pagination-link:focus {
  outline: none;
}

.pagination-item:focus-within {
  outline: 2px solid var(--color-purple);
}

.pagination-current {
 opacity: 0.6;
}

.product-button-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 760px;
  height: 55px;
  margin: 0 auto;
  margin-bottom: 44px;
  border: 3px solid rgba(235, 235, 235, 1);
}

.product-button {
  padding: 16px 30px;
  font-family: "Raleway";
  line-height: initial;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color:var(--color-black);
  text-decoration: none;
  width: 100%;
  transition: opacity .3s ease-in-out;
}

.product-button:hover {
  opacity: 0.6;
}
.product-button:focus {
  outline: 2px solid var(--color-purple);
  outline-width: 2px;
}

.product-button:active {
  opacity: 0.3;
  outline:none;
}
/* Catalog */


/* Main */

/* Footer */
.main-footer {

  background-color: var(--color-dark-gray);
  padding-top: 62px;
  padding-bottom: 61px;
}

.footer-container {
  display: flex;
  align-items: flex-start;
}

.footer-img {
  margin-bottom: 35px;
  display: block;
}

.footer-content-wrap {
  display: flex;
  width: 240px;
  flex-direction: column;
  margin-bottom: 47px;
  margin-right: 119px;
}

.footer-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  color: rgba(255, 255, 255, 1);
  width: 239px;
  margin: 0;
  margin-bottom: 64px;
}

.footer-service-list {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 32px;
  margin-bottom: 57px;
}

.footer-service-item {
  list-style: none;
}

.footer-service-link {
  font-family: "Raleway";
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}

.footer-service-link:hover {
  color: var(--color-yellow-hover);
  text-decoration: underline 2px solid var(--color-yellow-hover);
  text-underline-offset: 8px;
}

.footer-service-link:focus {
  outline: 2px solid var(--color-purple);
  outline-offset: 2px;
}

.footer-service-link:active {
  opacity: 0.3;
}

.academy-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}

.footer-service-tel {
  font-size: 16px;
  font-weight: 400;
  display: block;
  line-height: 20px;
  padding-top: 7px;
  color: var(--color-white);
  margin-bottom: 63px;
  transition: color 0.3s ease-in-out;
}

.footer-service-tel:hover {
  color: var(--color-yellow-hover);
}

.footer-service-tel:focus {
  outline: 2px solid var(--color-purple);
  outline-offset: 2px;
}

.footer-service-tel:active {
  opacity: 0.3;
}

.social-wrap {
  flex-direction: column;
  align-items: center;
}


.footer-line::after {
 content: "";
 display: block;
 width: 80px;
 height: 7px;
 background-color: rgba(255, 199, 0, 1);
}

.social-list {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
  margin: 0;
}
.footer-item-social {
  list-style: none;
}

.footer-item-social + .footer-item-social {
  margin-left: 15px;
}

.footer-link-social {
  fill: var(--color-dark-gray);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: rgba(124, 124, 124, 1);
  transition: background-color .3s ease-in-out;
}

.footer-link-social:hover {
  background-color: var(--color-yellow-hover);
}
.footer-link-social:focus {
  outline: none;
}

.footer-item-social:focus-within {
  outline: 2px solid var(--color-purple);
  outline-offset: 2px;
}

.footer-link-social:active svg {
  opacity: 0.3;
}

.footer-link-academy {
  height: 33px;
  fill: var(--color-yellow-hover);
}

.footer-link-academy:hover {
  fill: var(--color-white);
}

.footer-link-academy:focus {
  outline: 1px solid var(--color-purple);
  outline-offset: 1px;
}
/* Footer */


/* Modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.90);
  z-index: 4;
}
.modal-close {
  display: none;
}
.modal {position: relative;
  margin: auto;
  padding: 62px 70px;
  background-color: #fff;
  border: 10px solid var(--color-black);
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.10);
}

.modal-auth {
  position: relative;

}

.modal-content {

  position: relative;
}

.modal-title {
  margin: 0;
  font-family: "Raleway";
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: var(--color-black);
  margin-bottom: 42px;
}

.modal-close-button {
  width: 33px;
  position: absolute;
  height: 33px;
  top: 7px;
  right: -4px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: opacity 0.3s ease-in-out;
}

.modal-close-button::before {
  position: absolute;
  content: "";
  width: 26px;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 1);
}

.modal-close-button::before,
.modal-close-button::after {
  position: absolute;
  content: "";
  width: 33px;
  height: 3px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-black);
}

.modal-close-button::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close-button::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}


.modal-close-button:hover  {
 opacity: .6;
}

.modal-close-button:focus  {
  outline: 2px solid var(--color-purple);
  outline-width: 2px;
}

.modal-close-button:active {
  opacity: .3;
}

.modal-form {
 display: grid;
 grid-template-columns: 200px 160px 40px 140px 40px 180px;
 grid-template-rows: repeat(3, min-content);
 margin: auto;
}

.modal-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: var(--color-black);
  margin-bottom: 14px;
}

.form-label-icon {
  position: relative;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.form-label {
  display: flex;
  flex-direction: column;
}

.quantity-wrap {
  display: flex;
}

.appointment-form-name {
 grid-column: 1 / 3;
}

.appointment-form-email {
  grid-column: 4 / 7;
  margin-bottom: 39px;
}

.appointment-form-products {
  grid-column: 1 / 5;
}

.appointment-form-quantity {
  grid-column: 6 / 7;
}

.appointment-form-button {
  grid-column: 1 / 2;
  margin-top: 42px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border: none;
  padding: 0 10px;
  background-color: transparent;
  text-align: center;
  z-index: 1;
}

.appointment-form-button::after {
  content: "";
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-yellow);
  position: absolute;
  width: 100%;
  z-index: -1;
  transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.appointment-form-button:hover::after {
  height: 100%;
}
.appointment-form-button:focus {
  outline: 2px solid var(--color-purple);

}

.appointment-form-button:active::after {
  height: 100%;
  background-color: var(--color-yellow-hover);
}

.field-modal {
  font-family: "Rubik";
  width: 360px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  height: 60px;
  padding: 20px;
  padding-left: 20px;
  background-color: var(--color-light);
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.user-svg {
  background-image: url("..//images/main/modal/icons-user.svg");
  background-repeat: no-repeat;
  background-position: right 20px bottom 23px;
}

.email-svg {

  background-image: url("..//images/main/modal/icons-email.svg");
  background-repeat: no-repeat;
  background-position: right 18px bottom 21px;
}

.field-modal:hover {
  background-color: var(--color-gray);
}

.field-modal:active {
  background-color: var(--color-gray);
}

.field-modal:focus {
  outline: 2px solid var(--color-purple);
  outline-width: 2px;
}

.field-modal::placeholder {
  opacity: 0.3;
}

.modal--big {
  width: 540px;
}

.range-modal-wrap {
  width: 180px;
}

.field-quantity {
  width: 60px;
}
.field-quantity:focus {
  outline: none;
}

.field-quantity[type="number"] {
  text-align: center;
  appearance: none;
}

.field-quantity::-webkit-outer-spin-button,
.field-quantity::-webkit-inner-spin-button {
  -webkit-appearance:  none;
  margin: 0;
}

.modal-quantity {
  position: relative;
  /* display: flex; */
  margin-bottom: 14px;
}

.modal-text{
  color: var(--color-black);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.input--alert {
  border: 2px solid var(--color-error);
}

.text--invalid {
  color: var(--color-error);
}

.modal-button {
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.modal-button:hover {
  background-color: var(--color-gray);
}

.modal-button:focus {
  outline: 2px solid var(--color-purple);
  outline-width: 2px;
}

.modal-minus {
  position: relative;
}

.modal-minus::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 1);
}
.modal-plus {
  position: relative;
}

.modal-plus::before,
.modal-plus::after
 {
  position: absolute;
  content: "";
  width: 16px;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 1);
}

.modal-plus::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

/* Tooltip */
.tooltip {
  margin-top: 0;
  margin-left: 121px;
  position: absolute;
}

.tooltip-toggle:hover + .tooltip {
  display: block;
}

.tooltip-toggle {
  border: none;
  background-color: var(--color-yellow);
  padding: 0;
  margin: 0;
  top: -2px;
  position: relative;
  display: block;
  border-radius: 50%;
  width: 26px;
  height: 26px;
}

.tooltip-text {
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 160px;
  padding: 19px 17px 0 19px;
  background-color: var(--color-black);
  color: var(--color-white);
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.10);
  font-size: 16px;
  line-height: 20px;
  right: -20%;
  transform: translateX(20%);
  top: 34px;
  display: none;
}

.tooltip-text::after {
  content: "";
  display: block;
  width: 16px;
  height: 6px;
  position: absolute;
  border: 11px solid transparent;
  border-bottom: 8px solid var(--color-black);
  top: -17px;
  right: 24%;
}

.tooltip-toggle:hover + .tooltip-text {
  display: block;
}

.close-modal {
  display: none;
}
/* Tooltip */
